@model Forum.Models.ViewModels.ChannelViewModel

@{
    ViewData["Title"] = "AddNewChannel";
}

@if (TempData["Success"] != null)
{
    <div class="green">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewChannel" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelIconURL" class="control-label"></label>
                <input asp-for="ChannelIconURL" class="form-control" type="file" />
                <span asp-validation-for="ChannelIconURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" id="location" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentChannel" class="control-label"></label>
                <input asp-for="ParentChannel" class="form-control" />
                <span asp-validation-for="ParentChannel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Address Selection</title>

    <script>


        function initMap() {
            const componentForm = [
                'location',

            ];

            //const marker = new google.maps.Marker({ map: map, draggable: false });
            const autocompleteInput = document.getElementById('location');
            const autocomplete = new google.maps.places.Autocomplete(autocompleteInput);
            autocomplete.addListener('place_changed', function () {
                marker.setVisible(false);
                const place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert('No details available for input: \'' + place.name + '\'');
                    return;
                }

            });


        }
    </script>
</head>
<body>
    <div class="card-container">
        <div class="panel">
            @*<div>
                    <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
                    <span class="sb-title">Address Selection</span>
                </div>*@
            @*<input type="text" placeholder="Address" id="location" />

            <button class="button-cta">Checkout</button>*@
        </div>
        <div class="map" id="map"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsZqYbm3lC8IUoQVnVA35TLL1yJXaLI5A&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cABC" async defer></script>
</body>
</html>