@model Forum.Models.ViewModels.MainTopicViewModel

@*<div>
    <a asp-action="AddMainTopic">AddMainTopic</a>
</div>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" id="submit_form" asp-action="AddMainTopic" enctype="multipart/form-data">
            <div class="form-wizard">
                <div class="form-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                    <label asp-for="MainTopicId" class="control-label"></label>
                    <input asp-for="MainTopicId" class="form-control" />
                    <span asp-validation-for="MainTopicId" class="text-danger"></span>
                </div>*@
                    <div class="form-group">
                        <label asp-for="ThemeIdFK" class="control-label"></label>
                        <input asp-for="ThemeIdFK" class="form-control" />
                        <span asp-validation-for="ThemeIdFK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentIdFK" class="control-label"></label>
                        <input asp-for="ParentIdFK" class="form-control" />
                        <span asp-validation-for="ParentIdFK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReferenceLink" class="control-label"></label>
                        <input asp-for="ReferenceLink" class="form-control" />
                        <span asp-validation-for="ReferenceLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group">
                        <label class="control-label col-md-3">Description</label>
                        <div class="col-md-4">
                            @(Html.DevExtreme().HtmlEditorFor(m => m.Description).Toolbar(toolbar => toolbar.Items(
        items =>
        {
        items.Add().Name(HtmlEditorToolbarItem.Undo);
        items.Add().Name(HtmlEditorToolbarItem.Bold);
        items.Add().Name(HtmlEditorToolbarItem.Italic);
        //items.Add().Html("<button onclick='btnclick();'>test button </button>");
        items.Add().Widget(w => w.DropDownButton());
        }))
        .Placeholder("Write your decription...").Width(500).Height(200))


                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="TopicIcon" class="control-label"></label>
                        <input asp-for="Graphics" class="form-control" type="file" />
                        <span asp-validation-for="Graphics" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <input asp-for="DisplayOrder" class="form-control" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <div class="form-control">
                            @Html.Raw((Model == null ? System.DateTime.Now.ToString("yyyy/MM/dd HH:mm") : 
                           Model.CreatedDate == null ? System.DateTime.Now.ToString("yyyy/MM/dd HH:mm") : 
                           Model.CreatedDate.Value.ToString("yyyy/MM/dd HH:mm")))
                            </div>
                            <span asp-validation-for="CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label"></label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastUpdatedDate" class="control-label"></label>
                            <div class="form-control">
                                @Html.Raw((Model == null ? System.DateTime.Now.ToString("yyyy/MM/dd HH:mm") : 
                               Model.CreatedDate == null ? System.DateTime.Now.ToString("yyyy/MM/dd HH:mm") :
                               Model.CreatedDate.Value.ToString("yyyy/MM/dd HH:mm")))
                            </div>
                            <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastUpdatedBy" class="control-label"></label>
                            <input asp-for="LastUpdatedBy" class="form-control" />
                            <span asp-validation-for="LastUpdatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <div class="form-control">
                                @Html.Raw(Model == null ? "New" : Model.Status.ToString())
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllMainTopic">GetAllMainTopic</a>
</div>

  

