@{
    ViewData["Title"] = "AdminDash";
}

<h2>TestView</h2>

@(Html.DevExtreme().TreeList<Forum.Models.ViewModels.MainTopicViewModel>()
    .Columns(columns => {

        columns.AddFor(m => m.MainTopicId);

        columns.AddFor(m => m.ThemeIdFK);

        columns.AddFor(m => m.ParentIdFK);

        columns.AddFor(m => m.ReferenceLink);

        columns.AddFor(m => m.Title);

        columns.AddFor(m => m.Description);

        columns.AddFor(m => m.TopicIcon);

        columns.AddFor(m => m.DisplayOrder);

        columns.AddFor(m => m.CreatedDate);

        columns.AddFor(m => m.CreatedBy);

        columns.AddFor(m => m.LastUpdatedDate);

        columns.AddFor(m => m.LastUpdatedBy);

        columns.AddFor(m => m.Status);

        columns.AddFor(m => m.Moderator);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowDeleting(true)
    )
)
