// @font-face {
// 	font-family: KievitWeb;
// 	src:
// 		url( '../fonts/KievitProLight.woff2' ) format( 'woff2' ),
// 		url( '../fonts/KievitProLight.woff' ) format( 'woff' ),
// 		url( '../fonts/KievitProLight.ttf' ) format( 'truetype' );
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: KievitWeb;
// 	src:
// 		url( '../fonts/KievitProRegular.woff2' ) format( 'woff2' ),
// 		url( '../fonts/KievitProRegular.woff' ) format( 'woff' ),
// 		url( '../fonts/KievitProRegular.ttf' ) format( 'truetype' );
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: KievitWeb;
// 	src:
// 		url( '../fonts/KievitProBold.woff2' ) format( 'woff2' ),
// 		url( '../fonts/KievitProBold.woff' ) format( 'woff' ),
// 		url( '../fonts/KievitProBold.ttf' ) format( 'truetype' );
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: KievitWeb;
// 	src:
// 		url( '../fonts/Kievit-Medium.woff2' ) format( 'woff2' ),
// 		url( '../fonts/Kievit-Medium.woff' ) format( 'woff' ),
// 		url( '../fonts/Kievit-Medium.ttf' ) format( 'truetype' );
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display: swap;
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/**
 * Bootstrap variables
 */

$font-family-base: 'Open Sans', sans-serif;

$grid-gutter-width: rem-calc( 30 );

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px,
	xxl: 1400px
);

/**
 * Helper variables
 */

$all-text-inputs:
	'input[type="color"]',
	'input[type="date"]',
	'input[type="datetime"]',
	'input[type="datetime-local"]',
	'input[type="email"]',
	'input[type="month"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="time"]',
	'input[type="url"]',
	'input[type="week"]',
	'input:not([type])',
	'textarea';

$element-margin: 20px;

/**
 * Color variables
 */

$white: #fff;
$black: #000;
$grey: #f4f3f4;
$grey1: #979797;
$grey2: #98b3c3;
$darkblue: #002a4d;
$dark: #002a4d;
$skyblue: #cfdce0;
$skybluelight: #cfdbdf;

$link-color: #369;
$text-color1: #476678;
$text-color2: #5c5a5a;

$color_heading: rgba( 0, 0, 0, 0.7 );
$border_color_grey: #d1dcdf;
$border_color_grey_light: #e2f8ff;
$th: #6f8086;

$lightblue: #0078b3;
$blue: #003865;
$blue1: #01b4f0;
$text-color: #000;
$yellow: #ffb81c;
$yellowlight: #ffedc6;
$alertYellow: #fcf7d7;
$blue_rgb: rgb( 0, 56, 101 );

$red: #ff4300;
