<header>
    <div class="header-top">
        <div class="wrapper wrapper-1280 d-flex justify-content-end">
            <a asp-controller="User" asp-action="LogOut">Sign out</a>

        </div>
    </div>

    <div class="navigation">
        <div class="wrapper wrapper-1280 d-flex justify-content-between">
            <figure>
                <img src="~/assets/img/logo.png" alt="" class="img-responsive" />
            </figure>
            <div class="search-section">
                <form>
                    <div class="form-inline">
                        <div class="form-wrapper float-label">
                            <input type="search"
                                   name="search"
                                   class="form-input search-section__input" />
                            <label for="search">Search</label>
                        </div>

                        <button type="submit" class="btn btn-default btn-icon">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
