<header>
    <div class="header-top">
        <div class="wrapper wrapper-1280 d-flex justify-content-end">
            <a asp-controller="User" asp-action="LogOut">Sign out</a>

        </div>
    </div>

    <div class="navigation">
        <div class="wrapper wrapper-1280 d-flex justify-content-between">
            <figure>
                <img src="assets/img/logo.png" alt="" class="img-responsive" />
            </figure>
            <nav class="d-flex align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="~/Forum">Forum</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
