<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .main-container {
            left: 0;
            top: 0;
            align-items: center;
            width: 100vw;
            text-align: center;
        }

        .top-banner {
            background: #70CFC8;
            text-align: center;
        }

        .brand-name {
            font-size: 2em;
            color: #fff;
            font-weight: 600;
            /*padding: 1em 0;*/
        }

        .text-block-welcome {
            color: #000;
            line-height: 2em;
            font-size: 2em;
            width: 27em;
            text-align: center;
            align-items: center;
            margin: 2em auto;
            font-weight: 500;
        }

        .cong {
            color: #00a99d;
            font-size: 2.5em;
        }

        .login {
            position: relative;
            align-items: center;
            text-align: center;
        }

        .btn-form1-submit {
            width: auto;
            display: block;
            background: #1cbbb4;
            color: #fff;
            font-family: "Raleway";
            font-size: 14px;
            line-height: 20px;
            font-weight: 800;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border: none;
            text-transform: uppercase;
            box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 20%) inset;
            moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2) inset;
            -webkit-box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 20%) inset;
            margin: 0 auto;
        }

            .btn-form1-submit:hover {
                background: var(--button-hover-background);
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-banner">
            @*<div class="brand-name">
                Forum
            </div>*@
        </div>

        <div class="text-block-welcome">
            <div>
                <br /><div class="cong">Congratulations</div><br />on being part of the team! Our company welcomes you, and we look forward to a successful journey with you! Welcome aboard!
            </div>
        </div>
        <div class="login">
            <a href="/User/Login" class="btn-default btn-form1-submit" type="button">Login</a>
            <!--<button type="button" (click)="redirectToLogin()" class="btn-default btn-form1-submit">Login</button>-->
        </div>

    </div>
</body>
</html>
