@{
    ViewData["Title"] = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{ 

<partial name="~/Views/Shared/PartialView/Header.cshtml" />

}
<div class="hero">
    <img src="assets/img/banner.png" alt="" class="img-responsive slide-image" />
</div>